$primary-color: #5aaad8;
$font-stack: 'Courier New', Courier, monospace;

body {
    background-color: $primary-color;
    font-family: $font-stack;
}

.app-wrapper {

}

.app-wrapper h1 {
    color: white;
    text-align: center;
    font-family: "Josefin Slab", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: italic;
    text-shadow: 1px 1px 10px #ffffff;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-items: center;
}

// #content {
//     flex-grow: 1;
// }

button {
    background-color: lighten($primary-color, 10%);
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 4px;
}

.todoItem {
    border: 1px solid darken($primary-color, 20%);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
}